<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <ul>
      <img src="/css/Images/yl.png" class="img-circle"/>
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/about" class="link">About</a></li>
      <li><a href="/posts#disqus_thread" class="link">Blog Posts</a></li>
      <li><a href="https://drive.google.com/open?id=0B4ERqbSdpSoSTjljaUhDeEx4MHc" class="link">CV</a></li>
      <li><a href="/projects" class="link">Projects</a></li>
    </ul>
    <div class="container" style="margin-left:25%;padding: 1px 16px;height: 100px;">
      
      {{ content }}
      
    </div><!-- /.container -->
    <script id="dsq-count-scr" src="//yashladha-github-io.disqus.com/count.js" async></script>
  </body>
</html>
